.signInPage{
    background-color: #FFE299;
    width: auto;
    height: 800px;

}

.divs{
    display: inline-block;
    vertical-align: top;
}


.divLeft{
    width: 50%;
    height: auto;
    margin-top: 0%;
}

#librarian{
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.divRight{
    width: 30%;
    height: auto;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
}