<div class="signInPage">
    <div class="divs divLeft">
        <img id="librarian" src="assets/images/librarian.png" alt="">

    </div>

    <div class="divs divRight">
        <div class="formHeader">
            <img src="assets/images/navbar brand.png" width="30px" height="30px" alt="image">
            <h5>LibRary</h5>
            <hr>
            <h3>Sign Up to LibRary</h3>
        </div>
        <form action="">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control">
            <br>

            <label for="lasttName">Last Name</label>
            <input type="text" class="form-control">
            <br>

            <label for="Email">Email Address</label>
            <input type="text" class="form-control">
            <br>

            <label for="password">Password</label>
            <input type="password" class="form-control">
            <br>
            <br>
            <button type="button" class="btn btn-warning">Sign Up</button>
            <br>
            <br>


        </form>

    </div>
</div>

